.home-fundo-geral {
  background-color: #6696cf;
  height: 100vh;
  width: 100vw;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-box {
  background-color: rgb(255, 255, 255);
  width: 90vw;
  height: 90vh;
  border-radius: 1.6rem;
  margin: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  height: 100%;
  width: 60vw;
  background-color: #fbe721;
  padding-top: 5rem;
}

.logoAlimentar,
.logoGoverno {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoAlimentar img {
  width: 35.0rem;
}

.logoGoverno {
  padding-top: 2.4rem;
  width: 100%;
}

#logoGoverno {
  width: 35.0rem;
}

.form {
  height: 100%;
  width: 40vw;
  background-color: white;
}


@media screen and (max-width: 700px){
    .home-box{
       flex-direction: column;
       
    }

    .logos{
       width: 100%;
    }

    .logoAlimentar img {
      width: 25.0rem;
    }

    #logoGoverno {
      width: 25.0rem;
    }
}