.home-fundo-geral{
    background-color: #6696CF;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-box{
    background-color: rgb(255, 255, 255);
    width: 90vw;
    height: 90vh;
    border-radius: 1.6rem;
    margin: 4.0rem;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.logos{
    height: 100%;
    width: 45vw;
    background-color: #FBE721;
    padding-top: 5.0rem;
}

.logoAlimentar, .logoGoverno{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logoAlimentar img{
    width: 40.0rem;
}

.logoGoverno{
    padding-top: 2.4rem;
}

.logoGoverno img{
    width: 35.0rem;
}

.form{
    height: 100%;
    width: 50vw;
    background-color: white;
}


.login{
    text-align: center;
    font-size: 3.2rem;
    margin: 2.4rem;
    margin-top: 12.0rem;
    margin-bottom: 5.0rem;
}

.formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6.0rem;
}

.inputs{

    display: flex; 
    flex-direction: column;
    width: 30.0rem;

}
.inputs label{
    font-size: 1.4rem;
}
.inputs input{
    height: 3.0rem;
    padding: 1.0rem;
    border-radius: .5rem;
    border: .1rem solid rgba(0, 0, 0, 0.445);
}

.botao button{
    margin-top: 2.4rem;
    width: 100%;
    height: 3.0rem;
    background-color: #6696CF;
    color: white;
    border: none;
    border-radius: .4rem;
    cursor: pointer;
}

.help{
    width: 100%;
    margin-top: 2.0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
}



    
