.containerFormulario{
    border: 0.03rem solid rgba(0, 0, 0, 0.493);
    border-radius: .5rem;
}

.cabecalhoFormulario{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2.4rem;
}

.cabecalhoFormulario button{
    width: 18.0rem;
    height: 3.5rem;
    background-color: #3A465C;
    color: white;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

.formulario{
    display: flex;
    flex-direction: column;
    
}

.formulario section{
    display: flex;
    flex-direction: column;
}

.formulario section input{
    width: 50.0rem;
}

#linha1{
   
    padding: 2.6rem;
    width: 100%;
}
#razao{
    width: 100%;
}

.linha2{
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    width: 100%;
}

.linha2 section{
    width: 100%;
    padding: 2.6rem;
}

.linha2 section input{
    width: 100%;
}